<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="combined_robot">
    <xacro:include filename="./assets/Assem_4310_BASE/Assem_4310_BASE/urdf/Assem_4310_BASE.urdf" />

    <link name="rod_link_1">
        <visual>
            <geometry>
                <box size="0.025 0.025 0.2"/>
            </geometry>
            <material name="grey"/>
        </visual>
    </link>

    <xacro:property name="robotname" value="base_out_link" />
    <link name="${robotname}" />

    <joint name="base_to_joint1" type="fixed">
        <parent link="base_out_link"/>
        <child link="rod_link_1"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/> <!-- Adjust based on actual position -->
    </joint>
</robot>