<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem_4310_JOINT">
  <link
    name="motor4310_in_link">
    <inertial>
      <origin
        xyz="0.0012212 -4.3571E-06 0.035478"
        rpy="0 0 0" />
      <mass
        value="0.57649" />
      <inertia
        ixx="0.00051876"
        ixy="-5.0519E-08"
        ixz="-5.0469E-06"
        iyy="0.00039258"
        iyz="3.4788E-08"
        izz="0.00029808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/motor4310_in_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/motor4310_in_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="motor4310_out_link">
    <inertial>
      <origin
        xyz="-2.5332E-10 -0.013691 0.0011054"
        rpy="0 0 0" />
      <mass
        value="0.088545" />
      <inertia
        ixx="2.4599E-05"
        ixy="-3.8934E-22"
        ixz="-1.8263E-21"
        iyy="3.0632E-05"
        iyz="7.8406E-07"
        izz="2.5766E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/motor4310_out_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/motor4310_out_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="motor4310_rev_joint"
    type="revolute">
    <origin
      xyz="0.0255 -0.0395 0"
      rpy="0 0 1.57" />
    <parent
      link="motor4310_in_link" />
    <child
      link="motor4310_out_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>